body {
  background: #F3F3F3;
}
.login-section {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.login-section .login-card {
  border-radius: 2px;
  margin: auto;
  margin-top: 150px;
  width: 500px;
  height: 350px;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background: #fff;
}
.login-section .login-card .form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-section {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.signup-section .signup-card {
  border-radius: 2px;
  margin: auto;
  margin-top: 150px;
  width: 500px;
  height: 450px;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background: #fff;
}
.signup-section .signup-card .form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}
.signup-prompt{
  margin-left: 30px;
  color: red;
}