body {
  background: #F3F3F3;
}
.login-section {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.login-section .login-card {
  border-radius: 2px;
  margin: auto;
  margin-top: 150px;
  width: 500px;
  height: 350px;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background: #fff;
}
.login-section .login-card .form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

#signup-prompt{
 color: red;
}