{% extends base.html %}

{% block head_style %}
<link rel="stylesheet" type="text/css" href="/static/css/web.css">
{% end %}

{% block main_body %}
<div class="signup-page">
    <div class="container">
        <div class="signup-section">
            <div class="signup-card">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <p class="signup-title">注册</p>
                <!--form class="form-signin" action="/login/" method="post"-->
                    <span id="reauth-email" class="reauth-email"></span>
                    <label>邮箱</label><p id="email-blank" class="signup-prompt" style="display:none;">邮箱不能为空</p><br>
                    <input type="text" id="user_email" name="email" class="form-control" placeholder="Email" required autofocus>
                    <label>密码</label><p id="pwd-blank" class="signup-prompt" style="display:none;">密码不能为空</p><br>
                    <input type="password" id="user_password1" name="password1" class="form-control" placeholder="Password" required>
                    <label>确认密码</label><p id="pwd-inconsis" class="signup-prompt" style="display:none;">两次输入的密码不一致</p><br>
                    <input type="password" id="user_password2" name="password2" class="form-control" placeholder="Password" required>
                    <!-- <div id="remember" class="checkbox"> -->
                        <!--label>
                            <input type="checkbox" value="re member-me"> 记住我
                        </label-->
                    
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" onclick="loginFn()">提交</button>
                    <!-- {% module xsrf_form_html() %} -->
                <!--/form></form -->
            </div><!-- /card-container -->
        </div>
    </div><!-- /container -->
</div>
{% end %}

{% block foot_script %}
<script type="text/javascript">
    var loginFn = function(){
        var email = $("#user_email").val();
        var password1 = $("#user_password1").val();
        var password2 = $("#user_password2").val();
        console.log(email);
        console.log(password1);
        console.log(password2);

        if(!email)
        {
            document.getElementById("email-blank").style.display="inline";
            return;
        }
        if(!password1)
        {
            document.getElementById("pwd-blank").style.display="inline";
            return;
        }
        if(password1!=password2)
        {
            document.getElementById("pwd-inconsis").style.display="inline";
            return;
        }
        var data = {"email": email, "password": password1};
        $.ajax({
            url: "/signup",
            method: "POST",
            data: JSON.stringify(data),
            success: function(res){
                window.location.href = "/signup_success";
            },
            error: function(res){
                console.log(res)
            },
        })
    }
</script>
{% end %}